@inherits LayoutComponentBase
@using BlazorBootstrap

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <ThemeSwitcher Class="ps-3 ps-lg-2" />
            <a href="https://www.mfapi.in/" target="_blank"><i class="bi bi-currency-rupee"></i></a>
            <a href="https://github.com/rounakkole/MFui/" target="_blank"><i class="bi bi-github"></i></a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
