<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">

        <a class="navbar-brand d-flex align-items-center gap-2" href="">
            <img src="logo.svg" alt="Logo" width="32" height="32" />
            <b>MFui</b>
        </a>
        <!-- <a class="navbar-brand" href="">MFui</a> -->

        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DesktopViewPage">
                <span class="bi bi-display-fill-nav-menu" aria-hidden="true"></span> Desktop view
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
